body {
  margin: 0 auto;
  text-align: center;
  h1 {
    text-align: center;
  }
  #form {
    padding: 0 15px;
    width: 200px;
    margin:  0 auto;
    label, input {
      margin: 15px auto;
      width: 100%;
    }
  }
  .window {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
}